
.DS_Store
.Rhistory
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/42964E1C/sources/prop/INDEX
.Rproj.user/42964E1C/sources/prop/892E3D89
.Rproj.user/42964E1C/sources/per/t/15BD8B41-contents
.Rproj.user/42964E1C/sources/per/t/15BD8B41
.Rproj.user/42964E1C/saved_source_markers
.Rproj.user/42964E1C/rmd-outputs
.Rproj.user/42964E1C/pcs/workbench-pane.pper
.Rproj.user/42964E1C/pcs/windowlayoutstate.pper
.Rproj.user/42964E1C/pcs/source-pane.pper
.Rproj.user/42964E1C/pcs/files-pane.pper
